body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f0f0f0;

    font-family: "Montserrat", sans-serif;
}

#element {
    position: absolute;
    right: 0;
    bottom: 150px;
}

#sobre-nos {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;

    margin-top: 5%;
}

#sobre-nos h2 {
    text-align: start;
    width: 100%;

    text-transform: uppercase;
    font-size: 32px;

    margin-bottom: 20px;
}

#sobre-nos p {
    text-align: justify;
    width: 100%;

    font-size: 18px;
}

#sobre-nos span {
    color: #25463C;
    font-weight: 700;

    font-size: 18px;
}

#sobre-nos .destaques {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 80px;
}

#sobre-nos .destaques h3 {
    color: #25463C;
    text-transform: uppercase;
    font-size: 22px;

    border-bottom: 1px solid #2B876B;

    width: 50%;

    margin-bottom: 20px;
}

#sobre-nos .destaques div {
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre-nos .destaques p {
    text-align: center;
}

@media screen and (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #f0f0f0;

        font-family: "Montserrat", sans-serif;
    }

    #element {
        position: none;
        display: none;
    }

    #sobre-nos {
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 80%;
        height: 300px;

        margin-top: 15%;
    }

    #sobre-nos h2 {
        text-align: start;
        width: 100%;

        text-transform: uppercase;
        font-size: 30px;

        margin-bottom: 20px;
    }

    #sobre-nos p {
        text-align: justify;
        width: 100%;

        font-size: 18px;
    }

    #sobre-nos span {
        color: #25463C;
        font-weight: 700;

        font-size: 18px;
    }

    #sobre-nos .destaques {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        margin-top: 80px;
    }

    #sobre-nos .destaques h3 {
        color: #25463C;
        text-transform: uppercase;
        font-size: 22px;

        border-bottom: 1px solid #2B876B;

        width: 50%;

        margin-bottom: 20px;
    }

    #sobre-nos .destaques div {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 50px;
    }

    #sobre-nos .destaques p {
        text-align: center;
    }

}